# Dipendenze Python (Ambienti virtuali)
venv/
.venv/
env/
__pycache__/
*.py[cod]

# Dipendenze JavaScript
node_modules/
.next/
out/
build/

# File di sistema e chiavi segrete
.env
.DS_Store

# File temporanei di elaborazione (Dati effimeri)
apps/backend/temp/
*.wav
*.mp4