# Core Web Framework
fastapi[standard]
python-multipart
python-dotenv
pydantic

# AI Foundation (The "Brain")
torch==2.5.1
torchaudio==2.5.1
transformers==4.44.2
soundfile

# Multi-Agent AI Engines
faster-whisper
agno
google-generativeai
google-genai

# Multimedia Processing
moviepy
TTS
ffmpeg-python

hf_xet